

 <div class="container">
            <br><br>
            
            <h1 class="header left white-text ">Latest event</h1>
            <div class="row left">
              <h5 class="header col s12 light">Lot of Event Details here and more</h5>
            </div>
            <div class="row left">
              <a href="#" id="download-button" class="btn-large waves-effect waves-light green lighten-1">Book today</a>
            </div>
            <br><br>

          </div>






















require.config({
     baseUrl: 'app',
     waitSeconds: 200,
  paths:{

    'jquery': '../bower_components/jquery/dist/jquery',
    'jquery-hammerjs': '../bower_components/jquery-hammerjs/jquery.hammer',
    'js-url': '../bower_components/js-url/url',
    'jquery-migrate' : '/app/vendor/jquery-migrate',
    'materialize' : '../bower_components/materialize/bin/materialize',
     'velocity': '../bower_components/materialize/js/velocity.min',
      'hammerjs': '../bower_components/materialize/js/hammer.min'

  },

  shim: {

    'jquery': {
            exports: '$',
            deps :['js-url']    
        },
        'jquery-migrate' :{
          deps :['jquery']
        },
    'velocity' : {
            deps :['jquery']
        },
    'materialize' : {
      deps :['jquery-migrate','hammerjs','jquery-hammerjs']
    }
    
        
  }
});

require(['modules/core/app'],function(){
    console.log('app start..');
});