<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link  href='../../bower_components/materialize/dist/css/materialize.css' type="text/css" rel="stylesheet" media="screen,projection" media="screen,projection">
        <link  href='content/css/style.css' type="text/css" rel="stylesheet" media="screen,projection" media="screen,projection">       
    </head>
    <body>


    



      <div id="index-banner" class="parallax-container">

       <div class="" id="secondary-navbar">

           <nav class="transparent" role="navigation">

                <div class="nav-wrapper container">
                  <a id="logo-container" href="#" class="brand-logo indigo-text accent-2 bold"><i class="material-icons md-48 indigo-text accent-2">flash_on</i>Exlnc</a>


                  <ul id='nav-desktop' class="right hide-on-med-and-down top-bar">
                     
                      <li>
                         <a class="h-menu" href="#products" >     
                            <span class="nav-text teal-text">products</span>
                            <span class="material-icons teal-text">arrow_drop_down</span>
                        </a>
                      </li>
                   <li><a class="n-menu teal-text" href="#events" >events</a></li>
                    <li ><a class="n-menu teal-text contact-trigger" href="#modal5">contact</a></li>
                    <li><a class="n-menu teal-text" href="#about">about us</a></li>
             
                  </ul>

                  <ul id="nav-mobile" class="side-nav ">
                    <li class='right '>
                     <li><a href="#">products</a></li>
                    <li><a href="#">events</a></li>
                    <li><a href="#">about us</a></li>
                    <li><a href="#">contact</a></li>
                   
                    
                  </ul>
                  <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
                </div>

                <div id ="dropdown" class=" right black hide-on-med-and-down">
                                   
                    <div class='row margin-wrapper'>
                        <h5 class="left-align grey-text accent-2 l-margin-05">Products</h5>

                        <div class="col s12 m3 product" id='pd-1' data-target="modal1">
                            <div class="card-panel light-blue darken-1">
                              <span class="white-text material-icons md-48" style="padding: 1rem;">verified_user</span>
                            </div>
                          </div>
                          <div class="col s12 m3 product" id='pd-2' data-target="modal2">
                            <div class="card-panel grey">
                               <span class="white-text material-icons md-48" style="padding: 1rem;">nfc</span>
                            </div>
                          </div>
                          <div class="col s12 m3 product" id='pd-3' data-target="modal3">
                            <div class="card-panel teal accent-3">
                               <span class="white-text material-icons md-48" style="padding: 1rem;">developer_board</span>
                            </div>
                          </div>

                           <div class="col s12 m3 product" id='pd-4' data-target="modal4">
                            <div class="card-panel red darken-1">
                               <span class="white-text material-icons md-48" style="padding: 1rem;">healing</span>
                            </div>
                          </div>
                    </div>
                </div>
                    
      </nav>
            
     </div>
        <div class="section no-pad-bot"> <!-- container for poster -->
         
           <div class="row">
               <div class="col s12 m8">
                    <div class="l-margin-05">
                      <h1 class="valign  bold"><i class="material-icons white-text darken-2 md-86">event</i>PlayCop Sept</h1>
                    </div>
                    <div class="l-margin-2">
                     <h5 class="left-align">The uinque event in its essence</h5>
                     <a class="  waves-effect teal lighten-1 center btn-large">join event</a>
                    </div>
                   
               </div>

           </div>
        
        </div>
        <div class="parallax"><img src="content/img/bg.png" alt="Unsplashed background img 1"></div>
  </div>

<!--events  -->
 <div class="container ">
    <div class="section">
    
          <div class="row ">
                 <div class="col s12 m12">
                  <div class="" id="events">
                    <h5 class="center capital-text teal-text lighten-1 ">Events</h5>
                    <h2 class="center teal-text accent-3"><i class="material-icons md-86">query_builder</i></h2>
                  </div>
              </div>
              <div class='col event s12 m6 r-border'>
                      <div class="card ">
                    <div class="card-image waves-effect waves-block waves-light">
                      <img class="activator" src="content/img/background3.jpg">
                    </div>
                    <div class="card-content">
                      <span class="card-title activator teal-text text-darken-4">September event<i class="material-icons right">more_vert</i></span>
                      <p><a href="#">Join</a></p>
                    </div>
                    <div class="card-reveal">
                      <span class="card-title teal-text text-darken-4">September Event<i class="material-icons right">close</i></span>
                      <p>We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
                    </div>
                  </div>

              </div>
              <div class='col event-desc s12 m6  '>
                     <h5 class="teal-text darken-1"><i class="material-icons teal-text darken-2 md-48">event</i>18-Sept-2016</h5>
                    <h3 class="center bold">Event title</h3>
                    <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>

              </div>
               <div class='col event-desc s12 m6 r-border '>
                     <h5 class="teal-text  darken-1"><i class="material-icons teal-text darken-2 md-48">event</i>18-Oct-2016</h5>
                    <h3 class="center bold">Event title</h3>
                    <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>

              </div>
               <div class='col event s12 m6  '>
                      <div class="card ">
                    <div class="card-image waves-effect waves-block waves-light">
                      <img class="activator" src="content/img/background2.jpg">
                    </div>
                    <div class="card-content">
                      <span class="card-title activator teal-text text-darken-4">October event<i class="material-icons right">more_vert</i></span>
                      <p><a href="#">Join</a></p>
                    </div>
                    <div class="card-reveal">
                      <span class="card-title teal-text text-darken-4">October Event<i class="material-icons right">close</i></span>
                      <p>We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
                    </div>
                  </div>

              </div>
               <div class='col event s12 m6 r-border'>
                      <div class="card ">
                    <div class="card-image waves-effect waves-block waves-light">
                      <img class="activator" src="content/img/background1.jpg">
                    </div>
                    <div class="card-content">
                      <span class="card-title activator teal-text text-darken-4">November event<i class="material-icons right">more_vert</i></span>
                      <p><a href="#">Join</a></p>
                    </div>
                    <div class="card-reveal">
                      <span class="card-title teal-text text-darken-4">November Event<i class="material-icons right">close</i></span>
                      <p>We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
                    </div>
                  </div>

              </div>
               <div class='col event-desc s12 m6  '>
                     <h5 class="teal-text  darken-1"><i class="material-icons teal-text darken-2 md-48">event</i>18-Nov-2016</h5>
                    <h3 class="center bold">Event title</h3>
                    <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>

              </div>
              <div class="col s12 m12">
                  <h2 class="center teal-text accent-3"><i class="material-icons md-86">pie_chart</i></h2>
              </div>

       


      </div>

    </div>
  </div>

<!--products  -->
 <div class="indigo" id='products'>
    <div class=" container">
        <div class="section">
          <div class="row ">
                 <div class="col s12 m12">
                  <div class="" id="products">
                    <h5 class="center capital-text teal-text accent-3">Products</h5>
                    <h2 class="center teal-text darken-1"><i class="material-icons md-86">business</i></h2>
                  </div>
              </div>
              
              <div class=' prod-wrapper col s12 m6 '>
                 <div class="p-logo center ">
                   <span class="material-icons md-86 orange-text accent-3">verified_user</span>
                    <h4 class="pt-sans700 orange-text accent-3">Event eclipse</h4>
                    <p class="pt-sans400 white-text">Short description about the product. How to be used and how to access</p>
                 </div>  
              </div>
               <div class=' prod-wrapper col s12 m6 '>
                 <div class="p-logo center ">
                   <span class="material-icons md-86 red-text accent-3">nfc</span>
                    <h4 class="pt-sans700 red-text accent-3">Match management</h4>
                    <p class="pt-sans400 white-text ">Short description about the product. How to be used and how to access</p>
                 </div>  
              </div>
                 <div class=' prod-wrapper col s12 m6 '>
                 <div class="p-logo center ">
                   <span class="material-icons md-86 blue-text lighten-2">developer_board</span>
                    <h4 class="pt-sans700 blue-text lighten-2 ">Board Management</h4>
                    <p class="pt-sans400 white-text ">Short description about the product. How to be used and how to access</p>
                 </div>  
              </div>
               <div class=' prod-wrapper col s12 m6 '>
                 <div class="p-logo center ">
                   <span class="material-icons md-86 green-text darken-1">healing</span>
                    <h4 class="pt-sans700 green-text darken-1">Player reports</h4>
                    <p class="pt-sans400 white-text">Short description about the product. How to be used and how to access</p>
                 </div>  
              </div>
             

      </div>
      </div>
    </div>
  </div>


<!-- modals start -->
<div id="modal5" class="modal modal-fixed-footer">
    <div class="modal-content">
     <h5 class="teal-text center">write to us</h5>
      <form class="col s12">
      <div class="row ">
        <div class="input-field col s12 m8">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_prefix" type="text" class="validate">
          <label for="icon_prefix">First Name</label>
        </div>
        <div class="input-field col s12 m8">
          <i class="material-icons prefix">email</i>
          <input id="email" type="email" class="validate">
          <label for="email" data-error="please type a correct address">Email</label>
        </div>
        <div class="input-field col s12 m8">
          <i class="material-icons prefix">mode_edit</i>
           <textarea id="textarea1" class="materialize-textarea" length="250"></textarea>
          <label for="textarea1">Message</label>
        </div>
      </div>
    </form>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">send</a>
    </div>
  </div>

 <div id="modal4" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Product 4</h4>
      <p>We will be releasing product four soon.</p>
      <p>come back soon</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">ok</a>
    </div>
  </div>
   <div id="modal3" class="modal modal-fixed-footer ">
    <div class="modal-content">
      <h4>Product 3</h4>
      <p>We will be releasing product three soon.</p>
      <p>come back soon</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">ok</a>
    </div>
  </div>
   <div id="modal2" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Product 2</h4>
      <p>We will be releasing product two soon.</p>
      <p>come back soon</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">ok</a>
    </div>
  </div>
   <div id="modal1" class="modal modal-fixed-footer ">
    <div class="modal-content">
      <h4>Product 1</h4>
      <p>We will be releasing product one soon.</p>
      <p>come back soon</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">ok</a>

    </div>
  </div>
  <!--scrolltop -->
   <div class="fixed-action-btn horizontal" id="scroll-button">
    <a class="btn-floating btn-large red" href="#index-banner">
      <i class="large material-icons">navigation</i>
    </a>
    <ul>
      
      <li><a class="btn-floating green" href="#about"><i class="material-icons">report</i></a></li>
      <li><a class="btn-floating blue contact-trigger" href="#modal5"><i class="material-icons">phone</i></a></li>
      <li><a class="btn-floating red" href="#events"><i class="material-icons">query_builder</i></a></li>
      <li><a class="btn-floating yellow darken-1" href='#products'><i class="material-icons">business</i></a></li>
    </ul>
  </div>
  <!--footer -->  
<footer class="page-footer grey darken-3  ">
    <div class="container">
      <div class="row">
        <div class="col l4 s12" id="about">
          <h5 class="teal-text bold "><i class="material-icons md-16 teal-text">flash_on</i>Exlnc</h5>
          <p class="grey-text text-lighten-4">we are an event management company who organise different event. Our key products and events are related to cricket and others</p>


        </div>
        <div class="col l3 s6">
          <h5 class="teal-text accent-2 bold">Products</h5>
          <ul>
            <li>
                <a class="white-text pt-sans400" href="#!"><span class="material-icons  orange-text accent-3">verified_user</span>
                    Event eclipse
                  </a>
            </li>
            <li>
                <a class="white-text pt-sans400" href="#!"><span class="material-icons indigo-text accent-3">nfc</span> 
                    Match Mangement
                </a>
            </li>
            <li>
                <a class="white-text pt-sans400" href="#!"><span class="material-icons orange-text accent-3">developer_board</span> 
                    Board Mangement
                </a>
            </li>
            <li>
                <a class="white-text pt-sans400" href="#!"><span class="material-icons blue-text accent-3">healing</span> 
                    Player Reports
                </a>
            </li>
          </ul>
        </div>
        <div class="col l3 s6">
          <h5 class="teal-text bold">Events</h5>
          <ul>
            <li><a class="white-text pt-sans400" href="#!"><span class="material-icons md-18 teal-text accent-3">event</span> Event title</a></li>
            <li><a class="white-text pt-sans400" href="#!"><span class="material-icons md-18 indigo-text accent-3">event</span> Event title</a></li>
           <li><a class="white-text pt-sans400" href="#!"><span class="material-icons md-18 orange-text accent-3">event</span> Event title</a></li>
           <li><a class="white-text pt-sans400" href="#!"><span class="material-icons md-18 blue-text accent-3">event</span> Event title</a></li>
          </ul>
        </div>

        <div class="col l2 s6" id="contact">
          <h5 class="teal-text bold">Contact</h5>
          <ul>
            <li><a class="white-text" href="#!">email</a></li>
            <li><a class="white-text" href="#!">twitter</a></li>
            <li><a class="white-text" href="#!">facebook</a></li>
            <li><a class="white-text" href="#!">instagram</a></li>
          </ul>
        </div>
      </div>
      

      </div>
    </div>
    
    

        
    <div class="footer-copyright black">
      <div class="container">
        <div class="row ">
            <div class="col s12 m6 l6">
                 Made by <i class="material-icons pink-text">whatshot</i> <a class="pink-text text-lighten-3" href="http://www.imzah.com">imzah</a>
            </div>
           
        </div>
      </div>
    </div>
  </footer>





    <script src='../../bower_components/requirejs/require.js' data-main="../../app/main.js"></script>
    </body>
</html>